<!-- inside app/views/home/index.html.erb -->
<div class="container home">
  <div class="row">
    <div class="col-xs-12 col-md-3 home--profile">
      <div class="row">
        <div class="col-xs-12">
          <img src="images/profile.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>David Grayson</h2>
          <h4>Senior Software Engineering Manager</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 home--2">

    </div>
    <div class="col-xs-12 col-md-3 home--3">

    </div>
  </div>
</div>
